<% if flashes.any? %>
  <% user_facing_flashes.each do |key,vvalue| %>
     <div class="aler aler-dismissable alert-<%= flash_class(key) %>" >
       <button class="close" data-dismiss="aler">x</button>
       <%= value %>
     </div>
  <% end %>
<% end %>
